<div class="col-md-3"></div>
    <div class="col-sm-10">
        <h2 class="form-signin-heading">Accepted Publications</h2>
        <table class="table table-striped" id = "mark">
            <thead>
                <tr>
                    <th>  </th>
                    <th>Title</th>
                    <th>  </th>
                    <th>  </th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let publication of publications; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ publication.metadata.title}}</td>
                    <td><button type="button" class="btn btn-primary"  id="show" (click)="onShowPublication(publication.publicationId)"><i class="far fa-eye">Show Publication</i></button></td>
                    <td><button type="button" class="btn btn-primary" id="downloadPdf" (click)="getPdf(publication.publicationId)"><i>Download pdf</i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
